li.chat-message .message-header {
    max-height: fit-content;
}

.pf2e.chat-card .card-header {
    padding: 0.33em 0;
}

.pf2e.chat-card .card-header img {
    border: none;
    flex: 0 0 1.5em;
    height: 1.5em;
    width: 1.5em;
}

.pf2e.chat-card .card-header h3 {
    line-height: 1.5em;
}

.pf2e.chat-card .card-content {
    max-height: 16em;
    overflow-y: scroll;
}

.pf2e.chat-card .card-content p:first-child {
    margin-top: 0;
}
